.pnpm-store
node_modules
server/data
server/logs
.env
web/dist
.codebuddy
package-lock.json
.DS_Store

# 测试覆盖率产物
coverage/
.node-coverage/
.nyc_output/

# VitePress
**/.vitepress/cache
**/.vitepress/dist
**/*.local
